{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
{% block head %}


<link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
<title>{% block title %}Get Me To Work (without being squashed){% endblock title %}</title>

{% endblock head %}
</head>


<body>
{% block body %}

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Get Me To Work</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">
              {# Username, login logout #}
              <span class="welcome">
{% comment %}                  <!--Welcome, {{ user.email }}-->
                  <!--{% if user.email %}-->
                       <!--| <a href="{% url 'logout' %}" class="navbar-link">Logout</a>-->
                  <!--{% else %}-->
                      <!--You're not yet logged in | <a href="{% url 'login' %}" class="navbar-link">Log in</a>-->
                  <!--{% endif %}-->

{% endcomment %}
                  Oh Hai!
              </span>

          <li><a href="{% url 'list_routes' %}">All Routes</a></li>
          <li><a href="{% url 'create_route' %}">New Route</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock body %}
</body>


